### 2. HUCHA

In [1]:
#Librerias
import pandas as pd
import numpy as np
import os

In [2]:
#Creamos la ruta
path = 'Data/'
sports = pd.read_excel(path+'sports.xlsx')

In [3]:
#Observamos las primeras filas del dataframe
sports.head()

   CuotaFavorito       Date Favorito  GanaFavorito     Sport Tournament
0           2.20 2000-08-19        H             1  Football         E0
1           1.60 2000-08-19        H             1  Football         E0
2           2.20 2000-08-19        H             0  Football         E0
3           1.80 2000-08-19        H             0  Football         E0
4           1.55 2000-08-19        H             1  Football         E0

In [4]:
#Creamos una función que convierta la cuota en una probabilidad, para así hacer un análisis más sencillo.
#Esta probabilidad será la que tiene de ganar el favorito

def prob(a):
    return (1/a)*100

In [5]:
#Aplicamos la formula en una nueva columna
sports['Probabilidad'] = sports['CuotaFavorito'].apply(prob)

In [6]:
sports.head()

,CuotaFavorito,Date,Favorito,GanaFavorito,Sport,Tournament,Probabilidad
0,2.20,2000-08-19,H,1,Football,E0,45.454545
1,1.60,2000-08-19,H,1,Football,E0,62.500000
2,2.20,2000-08-19,H,0,Football,E0,45.454545
3,1.80,2000-08-19,H,0,Football,E0,55.555556
4,1.55,2000-08-19,H,1,Football,E0,64.516129

In [7]:
sports.dtypes

CuotaFavorito           float64
Date             datetime64[ns]
Favorito                 object
GanaFavorito              int64
Sport                    object
Tournament               object
Probabilidad            float64
dtype: object

## El primer análisis que haremos será apostar 10€ siempre al favorito.

In [8]:
#Si ganamos tendremos el beneficio menos lo apostado, para saber el beneficio neto y si perdemos restaremos lo apostado.
sports['Hucha10'] = np.where(sports['GanaFavorito'] == 1, sports['CuotaFavorito']*10-10, -10)

In [9]:
sports.head()

,CuotaFavorito,Date,Favorito,GanaFavorito,Sport,Tournament,Probabilidad,Hucha10
0,2.20,2000-08-19,H,1,Football,E0,45.454545,12.0
1,1.60,2000-08-19,H,1,Football,E0,62.500000,6.0
2,2.20,2000-08-19,H,0,Football,E0,45.454545,-10.0
3,1.80,2000-08-19,H,0,Football,E0,55.555556,-10.0
4,1.55,2000-08-19,H,1,Football,E0,64.516129,5.5

In [10]:
#Sumaremos todo para saber si hubieramos ganado o perdido dinero.
sports['Hucha10'].sum()

-163289.0

In [11]:
#La segunda Hucha la calcularemos multiplicando su cuota por la probabilidad de ganar
sports['HuchaB'] = np.where(sports['GanaFavorito'] == 1, (sports['CuotaFavorito']*sports['Probabilidad']/10)-(sports['Probabilidad']/10), -sports['Probabilidad']/10)

In [12]:
sports['HuchaB'].sum()

-92195.14371700516

La hucha sale negativa, entonces tendremos que buscar un indicador que nos diga cuanto apostar a cada cuota.

In [13]:
#Cogemos solamente los favoritos que ganan

In [14]:
favoritos = sports[sports['GanaFavorito'] == 1]
favoritos.head()

,CuotaFavorito,Date,Favorito,GanaFavorito,Sport,Tournament,Probabilidad,Hucha10,HuchaB
0,2.20,2000-08-19,H,1,Football,E0,45.454545,12.0,5.454545
1,1.60,2000-08-19,H,1,Football,E0,62.500000,6.0,3.750000
4,1.55,2000-08-19,H,1,Football,E0,64.516129,5.5,3.548387
6,1.25,2000-08-19,H,1,Football,E0,80.000000,2.5,2.000000
8,1.50,2000-08-19,H,1,Football,E0,66.666667,5.0,3.333333

In [15]:
#Agrupado por cuotas

favoritoAgrupados = favoritos.groupby('CuotaFavorito',as_index=False)['GanaFavorito'].sum()
favoritoAgrupados.head()

   CuotaFavorito  GanaFavorito
0          1.000            96
1          1.001             1
2          1.002            57
3          1.003             1
4          1.005           103

In [16]:
sportsTotal = sports.groupby('CuotaFavorito',as_index=False)['Favorito'].count()
sportsTotal.head()

   CuotaFavorito  Favorito
0          1.000        96
1          1.001         1
2          1.002        60
3          1.003         1
4          1.005       103

In [17]:
#Juntamos las tablas para poder obtener el porcentaje de favoritos que ganan teniendo una cuota concreta
sportsTotalFavoritos = favoritoAgrupados.merge(sportsTotal, how='left')
sportsTotalFavoritos['Porcentaje'] = sportsTotalFavoritos['GanaFavorito']/sportsTotalFavoritos['Favorito']
sportsTotalFavoritos['Probabilidad'] = sportsTotalFavoritos['CuotaFavorito'].apply(prob)
sportsTotalFavoritos['Indicador'] = sportsTotalFavoritos['Porcentaje'] * sportsTotalFavoritos['Probabilidad']
sportsTotalFavoritos = sportsTotalFavoritos[['CuotaFavorito','Indicador']]
sportsTotalFavoritos.head()

   CuotaFavorito   Indicador
0          1.000  100.000000
1          1.001   99.900100
2          1.002   94.810379
3          1.003   99.700897
4          1.005   99.502488

In [18]:
#Guardaremos los indicadores en un archivo
sportsTotalFavoritos.to_csv(path+'indicadores.csv')

In [19]:
#Los indicadores los juntaremos en un único datafram
sports = sports.merge(sportsTotalFavoritos, how = 'left')

In [20]:
sports.head()

,CuotaFavorito,Date,Favorito,GanaFavorito,Sport,Tournament,Probabilidad,Hucha10,HuchaB,Indicador
0,2.20,2000-08-19,H,1,Football,E0,45.454545,12.0,5.454545,19.243025
1,1.60,2000-08-19,H,1,Football,E0,62.500000,6.0,3.750000,37.083788
2,2.20,2000-08-19,H,0,Football,E0,45.454545,-10.0,-4.545455,19.243025
3,1.80,2000-08-19,H,0,Football,E0,55.555556,-10.0,-5.555556,28.955330
4,1.55,2000-08-19,H,1,Football,E0,64.516129,5.5,3.548387,38.679065

In [21]:
sports['HuchaC'] = np.where(sports['GanaFavorito'] == 1, (sports['CuotaFavorito']*sports['Indicador']/10)-sports['Indicador']/10, -sports['Indicador']/10)

In [22]:
sports.head()

,CuotaFavorito,Date,Favorito,GanaFavorito,Sport,Tournament,Probabilidad,Hucha10,HuchaB,Indicador,HuchaC
0,2.20,2000-08-19,H,1,Football,E0,45.454545,12.0,5.454545,19.243025,2.309163
1,1.60,2000-08-19,H,1,Football,E0,62.500000,6.0,3.750000,37.083788,2.225027
2,2.20,2000-08-19,H,0,Football,E0,45.454545,-10.0,-4.545455,19.243025,-1.924302
3,1.80,2000-08-19,H,0,Football,E0,55.555556,-10.0,-5.555556,28.955330,-2.895533
4,1.55,2000-08-19,H,1,Football,E0,64.516129,5.5,3.548387,38.679065,2.127349

In [23]:
print(sports['Hucha10'].sum())
print(sports['HuchaB'].sum())
print(sports['HuchaC'].sum())

-163289.0
-92195.14371700516
-47459.82077582382

In [24]:
#Gracias a las indicador hemos reducido las perdidas pero seguimos en negativo.

Ahora vamos a calcular las tres huchas para Fútbol, Baloncesto y Tenis.

In [25]:
sports.groupby('Sport', as_index=False)[['Hucha10','HuchaB','HuchaC']].sum()

        Sport   Hucha10        HuchaB        HuchaC
0  Basketball  -4328.40  -3039.198699  -1993.515818
1    Football -99739.79 -50062.410331 -23660.392385
2      Tennis -59220.81 -39093.534687 -21805.912572

Para finalizar vamos a analizar los 10 torneos de fútbol que son más rentables si apostamos al favorito.

In [26]:
footballTournament = sports[sports['Sport'] == 'Football'].groupby('Tournament', as_index=False)[['Hucha10','HuchaB','HuchaC']].sum()
footballTournament.sort_values(by='HuchaC', ascending=False).head(10)

     Tournament  Hucha10      HuchaB      HuchaC
41          USA    500.5  266.062265  158.748376
30       Russia    494.2  173.700524   76.140673
23        Japan    196.6   50.386316   43.205369
0     Argentina   -267.1  -63.285473   40.952720
3        Brazil     32.2   12.521216   32.008377
39  Switzerland     65.7   13.971395   13.970378
17     Finland      36.7   16.843731    7.774449
38      Sweden      28.9   15.365157    7.388849
8      Denmark      43.7   17.748560    6.702883
26       Norway     41.3   15.378291    3.843242

# Estadística descriptiva

In [27]:
datos = sports[['CuotaFavorito','Probabilidad','HuchaC','Sport']]

#### Datos estadísticos globales

In [28]:
datos.describe()

       CuotaFavorito   Probabilidad         HuchaC
count  245322.000000  245322.000000  245054.000000
mean        1.768716      60.004612      -0.193671
std         0.422697      14.966664       2.629404
min         1.000000      21.978022      -9.705080
25%         1.430000      47.619048      -2.320227
50%         1.720000      58.139535       1.120589
75%         2.100000      69.930070       2.180973
max         4.550000     100.000000       7.222222

In [29]:
datos.mode()

   CuotaFavorito  Probabilidad    HuchaC     Sport
0            2.2     45.454545 -1.677671  Football

#### Datos estadísticos Fútbol

In [30]:
datos[datos['Sport'] == 'Football'].describe()

       CuotaFavorito   Probabilidad         HuchaC
count   160079.00000  160079.000000  160060.000000
mean         1.96442      52.943385      -0.147822
std          0.36955      11.120552       2.435801
min          1.01000      21.978022      -8.839223
25%          1.70000      43.478261      -2.121569
50%          2.00000      50.000000      -0.983452
75%          2.30000      58.823529       2.260012
max          4.55000      99.009901       7.222222

In [31]:
datos[datos['Sport'] == 'Football'].mode()

   CuotaFavorito  Probabilidad    HuchaC     Sport
0            2.2     45.454545 -1.677671  Football

In [32]:
datos[datos['Sport'] == 'Football'].median()

CuotaFavorito     2.000000
Probabilidad     50.000000
HuchaC           -0.983452
dtype: float64

#### Datos estadísticos Baloncesto

In [33]:
datos[datos['Sport'] == 'Basketball'].describe()

       CuotaFavorito  Probabilidad        HuchaC
count   12059.000000  12059.000000  12059.000000
mean        1.451994     70.792934     -0.165314
std         0.236604     11.947281      2.937175
min         1.000000     52.631579     -9.362175
25%         1.260000     60.975610     -3.342876
50%         1.440000     69.444444      1.358818
75%         1.640000     79.365079      2.090653
max         1.900000    100.000000      2.551724

In [34]:
datos[datos['Sport'] == 'Basketball'].mode()

   CuotaFavorito  Probabilidad    HuchaC       Sport
0            1.8     55.555556  2.316426  Basketball

In [35]:
datos[datos['Sport'] == 'Basketball'].median()

CuotaFavorito     1.440000
Probabilidad     69.444444
HuchaC            1.358818
dtype: float64

#### Datos estadísticos Tenis

In [36]:
datos[datos['Sport'] == 'Tennis'].describe()

       CuotaFavorito  Probabilidad        HuchaC
count   73184.000000  73184.000000  72935.000000
mean        1.392832     73.672324     -0.298977
std         0.222253     11.908509      2.960904
min         1.000000     52.383447     -9.705080
25%         1.200000     63.694268     -3.342876
50%         1.390000     71.942446      1.182147
75%         1.570000     83.333333      1.940233
max         1.909000    100.000000      2.745583

In [37]:
datos[datos['Sport'] == 'Tennis'].mode()

   CuotaFavorito  Probabilidad    HuchaC   Sport
0            1.4     71.428571  1.940233  Tennis

In [38]:
datos[datos['Sport'] == 'Tennis'].median()

CuotaFavorito     1.390000
Probabilidad     71.942446
HuchaC            1.182147
dtype: float64

## Creamos un fichero excel para utilizar en Rstudio

In [39]:
sports.to_csv(path+'visualizar_rstudio.csv')